* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Serif Pro";
}
html,
body {
  background: rgb(159, 180, 216);
  background: linear-gradient(
    77deg,
    rgb(135, 153, 184) 0%,
    rgb(245, 210, 223) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: rgba(64, 63, 76, 1);
}

.navbar-nav a {
  color: white;
  margin: 0 20px;
  margin-top: 30px;
  font-size: 20px;
}

.navbar-toggler {
  color: white !important;
  border: none !important;
  outline: none !important;
}

.navbar-toggler .fa {
  color: white;
  font-size: 30px;
}

.nav-link:hover {
  color: #d45e7d;
}
.container {
  color: #000000;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  background-color: #e7dfe7;
  width: 50vw;
  height: auto !important;
}
.title {
  color: #000000;
  text-decoration: underline;
  font-size: 80px;
  font-family: "Bakbak One", cursive;
  font-family: "Indie Flower", cursive;
}
.container p {
  padding: 30px 100px 10px 100px;
  font-size: 28px;
  font-family: "Indie Flower", cursive;
}
.about-section {
  margin-top: 92px;
  padding-top: 100px;
  text-align: center;
}

.footer {
  margin-top: auto;
  display: flex;
  background-color: rgb(31, 32, 36);
}

.footer-one {
  display: flex;
  margin: auto;
  height: 100px;
  width: clamp(800px, 60vw, 1500px);
}

.copyright {
  position: absolute;
  padding-top: 40px;
  padding-left: 20px;
  font-size: clamp(8px, 0.7vw, 10px);
  color: rgb(119, 119, 119);
}

.terms {
  position: absolute;
  padding-top: 60px;
  padding-left: 20px;
  font-size: clamp(8px, 0.7vw, 10px);
  color: rgb(211, 211, 211);
}

.contact-info {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px;
}

.email {
  margin-bottom: 8px;
  font-size: clamp(10px, 0.7vw, 11.3px);
  color: rgb(211, 211, 211);
}

.contact-number {
  font-size: clamp(10px, 0.7vw, 11.3px);
  color: rgb(211, 211, 211);
}
